{% extends 'base.html' %} {% block title %}Edit Product{% endblock %} {% block
content %}
<div class="container">
  <div class="row">
    <form
      class="mt-4 mx-auto border p-4 bg-white col-lg-8 col-sm-12"
      method="POST"
      action="/products/edit_product/{{ product[0] }}"
    >
      <h2 class="mb-4">Edit Product</h2>
      <div class="mb-3">
        <label for="name" class="form-label">Product Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          value="{{ product[1] }}"
          required
        />
      </div>
      <div class="mb-3">
        <label for="typeDropdown">Type</label>
        <select class="form-control" id="typeDropdown" name="type_id" required>
          <option value="">Choose Type...</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="salePrice" class="form-label">Sale Price</label>
        <input
          type="number"
          class="form-control"
          id="salePrice"
          name="sale_price"
          value="{{ product[3] }}"
          required
        />
      </div>
      <div class="mb-3">
        <label for="stockThreshold" class="form-label"
          >Minimum Stock Alert</label
        >
        <input
          type="number"
          class="form-control"
          id="stockThreshold"
          name="stock_threshold"
          value="{{ product[4] }}"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary fw-bold">Edit Product</button>
    </form>
  </div>
</div>
{% endblock %}
