{% extends 'base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}
<h2 class="text-center">Products List</h2>
      <div class="table-responsive my-4">
        <table class="table table-bordered table-hover">
          <thead class="table-dark">
            <tr>
              <th>Sr. No.</th>
              <th>Supplier Name</th>
              <th>Product Name</th>
              <th>Description</th>
              <th>Quantity</th>
              <th>Weight (lt)</th>
              <th>Rate (per unit)</th>
              <th>Amount</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% if data %} {% for product in data %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ product[1] }}</td>
              <td>{{ product[2] }}</td>
              <td>{{ product[3] }}</td>
              <td>{{ product[4] }}</td>
              <td>{{ product[5] }}</td>
              <td>{{ product[6] }}</td>
              <td>{{ product[7] }}</td>
              <td>
                <a
                  href="/edit_product/{{ product[0] }}"
                  class="btn btn-warning btn-sm"
                  >Edit</a
                >
                <a
                  href="/delete_product/{{ product[0] }}"
                  class="btn btn-danger btn-sm"
                  >Delete</a
                >
              </td>
            </tr>
            {% endfor %} {% else %}
            <tr>
              <td colspan="8" class="text-center">No Products Found</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
{% endblock %}